/* src/components/PageTransitionWrapper.css */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 0.8s ease-in-out; /* slower and smoother */
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 0.8s ease-in-out; /* match enter duration */
}
